.tile {
    width: calc(var(--scale) / 4);
    height: calc(var(--scale) / 4);
    border: calc((var(--scale) / 300)) solid black;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.tile.dragSource,
.tile.dragTarget {
    border: calc(var(--scale) / 100) outset black;
}