.score .positive {
    color: red;
}

.score .negative {
    color: green;
}

.score {
    text-align: center;
    font-size: calc(var(--scale) / 20);
}

.score p {
    margin: 0;
}

.score input,
.score button {
    height: calc(var(--scale) / 20);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    vertical-align: text-bottom;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100dvw;
    height: 100dvh;
}

@media (orientation: portrait) {
    main {
        flex-direction: column-reverse;
    }
}