.board {
    display: grid;
    grid: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    width: var(--scale);
    height: var(--scale);
    flex-wrap: wrap;
    border: calc(var(--scale) / 100) inset black;
    box-sizing: content-box;
}