.board {
    display: grid;
    grid: 1fr 1fr 1fr 1fr / 1fr 1fr 1fr 1fr;
    width: calc(min(100dvh, 100dvw) - 3em);
    height: calc(min(100dvh, 100dvw) - 3em);
    flex-wrap: wrap;
    border: calc((min(100dvh, 100dvw) - 3em) / 100) inset black;
    box-sizing: content-box;
}